[Unit]
Description=overlayfs fstests runner
After=multi-user.target
SuccessAction=exit
SuccessActionExitStatus=123
FailureAction=exit
FailureActionExitStatus=1

[Service]
StandardOutput=journal+console
StandardError=journal+console
RuntimeMaxSec=24h
IgnoreSIGPIPE=no
ExecStart=/usr/lib/vfs-ci/run-ovl-fstests.sh
